html {
    font-size: 100%;
}

body {
    padding: 30rem;
}

span {
    display: inline-block;
    margin-top: 4.5rem;
}

.container {
    width: 200px;
    height: 200px;
    perspective: 600px;
}

.cube {
    /*transform: rotate3d(-50, 50, -5, 34deg);*/
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    /* transition: all 3s cubic-bezier(0.65, 0, 0.35, 1); */
    animation: runCube 5s cubic-bezier(0.59, 0.01, 0.32, 0.99) 2ms infinite alternate-reverse;
}

/* .cube:hover {
    transform: rotateY(330deg) rotateX(330deg);
    border: 5px solid rebeccapurple;
} */

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(24, 45, 65);
    text-align:center;
}

.cube__face--Front {
    background-color: rgba(222, 37, 37, 81%);
    transform: translateZ(100px);
}

.cube__face--Back {
    background-color: rgba(21, 120, 181, 85%);
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face--Right {
    background-color: rgba(239, 2, 147, 82%);
    transform: rotateY(90deg) translateZ(100px);
}

.cube__face--Left {
    background-color: rgba(210, 37, 222, 76%);
    transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--Top {
    background-color: rgba(242, 242, 4, 78%);
    transform: rotateX(90deg) translateZ(100px);
}

.cube__face--Bottom {
    background-color: rgba(46, 244, 6, 83%);
    transform: rotateX(90deg) translateZ(-100px);
}

@keyframes runCube {
    0% {
        transform: rotateY(0) scale(1);
    }
    20% {
        transform: rotateY(220deg) rotateZ(100deg);
    }
    80%{
        transform: rotateY(180deg) rotateZ(200deg);
    }
    100%{
        transform: rotateY(300deg) rotateZ(300deg);
    }
}
